.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.information-container {
  align-items: center;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  flex-direction: space-between;
  flex-grow: 1;
  padding: 20px;
  /* align-items: center; */
}

.active {
  color: #a2845e;
}

.employee-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 100px;
}
